.SecHeader {
    border-bottom: 0.5px solid #d6d6d6 !important;
}
.lc__input-group {
    background: #f2f2f2;
    width: 400px;
}
.lc__input-group:focus-within {
    box-shadow: 9px 7px 6px -8px rgba(1, 27, 51, 1);
}
.SecHeader .input-group-text {
    background: transparent !important;
    border: none !important;
}
.lc__input-group > input {
    background: #f2f2f2;
    border: none;
    border-radius: 6px;
}
.lc__input-group > input:focus {
    box-shadow: none;
    /* border: 1px solid #297bf5; */
}
.nav-item {
    padding-right: 3rem;
}
.blue-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #297bf5;
    position: absolute;
    top: 28px;
    border-radius: 50%;
}

/* MEDIA_QUERIES */
@media screen and (max-width: 575px) {
    .SecHeader {
        width: 98%;
        /* border: 2px solid; */
    }
}
